@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 10px;
    box-shadow: 0px 4px 12px -8px rgba(0,0,0, 0.75);
    position: sticky;
    top: 0px;
}
header h1 {
    color: #606c73;
    font-size: 28px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 900px;
    font-size: 20px;
}
nav ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #272829;
}
section {
    width: 60%;
    margin: auto;
    line-height: 30px;
    padding: 10px;
}
.image_section {
    text-align: center;
    height: 65vh;
}
img {
    width: 100%;
    height: 100%;
}
hr {
    width: 60%;
    margin: auto;
}
.resource_section ul {
    padding: 20px;
}
.resource_section ul li {
    padding: 5px 10px;
}
.working_section {
    padding: 15px 0;
}
.application_section ul {
    padding: 20px;
}
.application_section ul li {
    padding: 5px 10px;
}
.video_section h2 {
    text-align: left;
    padding-bottom: 20px;
}
.video_section {
    padding: 10px;
    text-align: center;
}