@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 10px;
    box-shadow: 0px 4px 12px -8px rgba(0,0,0, 0.75);
}
header h1 {
    color: #606c73;
    font-size: 28px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 900px;
    font-size: 20px;
}
nav ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #272829;
}

